<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>NBA API ChatBot</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

  <div id='bodybox'>

    <h2>NBA API ChatBot</h2>
    <h4>by Chris Carbonell</h4>

    <div id='chatborder'>
      <p id="chatlog7" class="chatlog">&nbsp;</p>
      <p id="chatlog6" class="chatlog">&nbsp;</p>
      <p id="chatlog5" class="chatlog">&nbsp;</p>
      <p id="chatlog4" class="chatlog">&nbsp;</p>
      <p id="chatlog3" class="chatlog">&nbsp;</p>
      <p id="chatlog2" class="chatlog">&nbsp;</p>
      <p id="chatlog1" class="chatlog">&nbsp;</p>
      <input type="text" name="chat" id="chatbox" placeholder="What's your NBA stats question?" onfocus="placeHolder()">
    </div>
    <br>
    <br>
    <h2>FAQs</h2>
    
    <h3><p>Where does the data come from?</p></h3>
    <p>The data is pulled from NBA.com's API.</p>

    <h3><p>Where can I find the source code behind this project?</p></h3>
    <p>You can find the GitHub repo here:<br>
    <a href="https://github.com/chris-carbonell/nba-api-chatbot">https://github.com/chris-carbonell/nba-api-chatbot</a>
    </p>

  </div>

<script  src="../static/js/script.js"></script>

</body>
</html>
